.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 5rem);
  width: 70vw;
}

.map-info {
  display: flex;
  flex-direction: row;
}

.container-left {
  width: 80%;
}

.container-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 5rem);
  width: 70vw;
}

.container-header {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
}

.container-select {
  padding-left: 1rem;
  width: 60vw;
  background-color: white;
  border: 0;
}

.container-buttons {
  width: 40vw;
  border-radius: 0;
  border: 1px;
}

.container-right {
  width: 20%;
}

@media (max-width: 600px) {
  .map-info {
    flex-direction: column;
  }
  .container-map {
    width: 100vw;
    height: 50vh;
  }
}