.container {
  height: calc(100vh - 5rem);
  width: 30vw;
  overflow: scroll;
}

.container-header {
  background-color: navy;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 2rem;
}