.container {
  display: flex;
  flex-direction: column;
  width: 30vw;  
}

.container-header {
  background-color: navy;
  color: white;
  height: 2rem;  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.route-list {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: calc(100vh - 5rem - 2rem);
}

@media (max-width: 600px) {
  .container {
    width: 100vw;
    height: calc(100vh - 50vh - 5rem);
  }
}