.container {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  background: white;
  height: calc(100% - 10rem);
}

@media (max-width: 600px) {
  .container {
    background-color: rgb(216, 237, 255);
    height: calc(100vh - 5rem - 3rem);
  }
}