.container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  background-color: aliceblue;
  height: calc(100vh - 7rem);
}

.inside-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem 2rem 4rem 2rem;
  height: 12rem;
  border-radius: 2rem;
  background-color: white;
}

.delete-button {
  padding: 1rem;
  border-radius: 1rem;
  border-style: solid;
}

.loading-image {
  display: flex;
  justify-content: center;
  align-items: center;
}