.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  gap: 1rem;
}

.user-container {
  padding: 2rem;
  background-color: aliceblue;
  border-radius: 2rem;
  width: 80vw;
  text-align: center;
}

.addition-container {
  display: flex;
  flex-direction: row;  
  gap: 2rem;
 
}

.addition-card {
  text-decoration: none;
  padding: 1rem;
  background-color: aquamarine;
  color: black;
  border-style: none;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
}

.addition-card:hover {
  background-color: aqua;
}


.info-card {
  width: 80vw;
  display: flex;
  flex-direction: column;
}