.main-nav {
  background-color: red;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
}

.link-nav {
  display: flex;
  gap: 2rem;
}

.link-button {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}